*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'sidebar nav'
    'sidebar main';
    gap: 5px;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

svg {
    width: 24px;
    height: auto;
}