@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --primary-color: #1992D4;
    --background-color: #E2E8F0;
    --secondary-color: #FFFFFF;
    --text-color: #636363;
    --small-icon-color: #333333;
    --accent-color: #F0B429;
    --card-shadow: 0px 1px 20px 1px rgba(0,0,0,0.2);
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 'sidebar nav'
    'sidebar main';
    height: 100vh;
    font-family: Roboto, system-ui;
    color: var(--small-icon-color);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    gap: 30px;
    padding: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 5;
}

.sidebar svg {
    fill: white;
}

.sidebar > div {
    display: grid;
    gap: 10px;
}

.sidebar > div svg:not(.title > svg) {
    width: 32px;
    height: auto;
}

.title {
    display: grid;
    font-size: 1.6rem;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.title > svg {
    width: 48px;
    height: auto;
}

.sidebar > div > div {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    align-items: center;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    padding: 20px;
    gap: 30px;
    box-shadow: var(--card-shadow);
    z-index: 1;
}

.nav-top {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 80px;
}

.nav-top .profile-small {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    align-items: center;
}

.profile-small .admin-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.small-pic {
    width: 42px;
    height: 42px;
}

.nav-top .search {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 20px;
}

.search input {
    border-radius: 20px;
    padding: 4px 20px;
    background-color: var(--background-color);
    border: none;
}

.search-icon {
    display: grid;
    place-content: center;
}

.nav-bottom {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 30px;
}

.profile-large {
    display: grid;
    place-items: center;
}

.large-pic {
    width: 64px;
    height: 64px;
}

.welcome-message {
    display: grid;
    align-items: center;
}

.welcome-message > .admin-name {
    font-size: 1.4rem;
    margin-top: 4px;
}

.action-buttons {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    gap: 20px;
}

.action-buttons > button {
    background-color: var(--primary-color);
    border-radius: 20px;
    color: var(--secondary-color);
    font-weight: bold;
    border: none;
    width: 100px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 260px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'projects announcements'
    'projects trending';
    background-color: var(--background-color);
    padding: 20px 10px;
    gap: 20px;
}

.projects {
    grid-area: projects;
    gap: 20px;
}

.projects > h3 {
    margin-bottom: 10px;
}

.announcements {
    grid-area: announcements;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    height: calc(100% - 30px);
}

.project {
    display: grid;
    grid-template-rows: 1fr max-content;
    padding: 30px;
    gap: 10px;
    font-size: .8rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}

.project > .line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    background-color: var(--accent-color);
}

.project > .project-icons {
    justify-self: end;;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 20px;
}

.project-content > h3 {
    margin-bottom: 10px;
}

.project-icons svg {
    width: 20px;
    height: auto;
}

.announcements-container, .trending-container {
    font-size: 0.8rem;
    padding: 20px;
    display: grid;
    gap: 10px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    height: calc(100% - 30px);
    box-shadow: var(--card-shadow);
}

.trending-container {
    height: min(100%, 320px);
}

.announcements-container {
    grid-template-rows: repeat(3, 1fr);
}

.trending-container {
    grid-template-rows: repeat(4, 1fr);
}

.announcements > h3 {
    margin-bottom: 10px;
}

.announcement:not(nth-last-child) {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 10px;
}


.trending {
    grid-area: trending;
}

.trending > h3 {
    margin-bottom: 10px;
}

.trending-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.person {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;
}

.person h5 {
    margin-bottom: 10px;
}

p {
    color: var(--text-color);
}

svg {
    width: 24px;
    height: auto;
}